<div class="container-fluid"  style="margin-left: 450px;">
	<div class="page-header">	
		{{#if error}}
				<span style="color:red; padding: 10px; border:1px solid lightcoral; background-color: lightblue">{{error}}</span>
				{{/if}}	
	</div>
	<div class="main-body">
		<div class="row" >
			<div class="col-md-6" >
				<form class="form-horizontal form-width" method="post" action="/users/login" novalidate>
				<div class="row form-row">
					<div class="col-md-12 sign-up-header">Please Lgin</div>
					<div class="form-group col-md-12">
						
						<input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
					</div>

					<div class="form-group col-md-12">
						<input class="form-control" type="password"  id="password" name="password" placeholder="Password" required>
					</div>
					<div class="form-group  col-md-12">
						<p><input class="checkbox" type="checkbox"  id="checkbox" name="rememberMe"><label for="rememberMe">Remember Me</label></p>
					</div>
					<button type="submit" class="btn btn-default button-register">LOGIN</button>
					
                    <a type="button" class="btn btn-default button-register"  href="/users/create">Register</a>
					</div>
				</form>
				
			</div>
			
		</div>
		
	</div>

	</div>
