<div class="container">
	<div class="row">
	<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend></legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label"  for="firstName">Name</label>  
  <div class="col-md-4">
  <input id="name" name="firstName" ng-model="data.firstName"  type="text" value="{{data.firstName}}" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="lastName">Last Name</label>  
  <div class="col-md-4">
  <input id="email" name="LastName" ng-model="data.lastName"  type="text" value="{{data.lastName}}" placeholder="Last Name" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="mobile">Phone</label>  
  <div class="col-md-4">
  <input id="phone" name="mobile" ng-model="data.mobile" type="text" value="{{data.mobile}}" placeholder="mobile" class="form-control input-md">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="reg"></label>
  <div class="col-md-4">
    <input type="submit" ng-click="update(data.id)">
    
  </div>
</div>

</fieldset>
</form>

	</div>
    <p>rithesh....{{data}}</p>
    
</div>