
<div class="container">
    <div class="row col-md-12 ">
    <table class="table table-striped custab">
    <thead>
        
    <a href="#/user" class="btn btn-primary pull-right"><b>+</b> Add new categories</a>
      <h4>Search by Name :</h4><input type="text" ng-model="qsearch" ng-minlength="3">
        <tr>
            <th>ID</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>MOBILE</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
            <tr ng-repeat=" s in data | filter : {firstName: qsearch}">
                <td>{{s._id}}</td>
                <td>{{s.firstName}}</td>
               
                <td>{{s.lastName}}</td>
                <td>{{s.mobile}}</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="#/user/{{s._id}}" ng-click="edit()"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                 <span ng-show="s.firstName == ooo">hi rithesh</span>
            </tr>
           
    </table>
    </div>
</div>