<div class="container">
    <div class="pull-right">
         <a type="button" class="navbar-btn btn btn-gradient-blue" am-latosans="bold" href="/users/logout">Logout</a>

</div>
<h3> Hi   <span style="color:cadetblue;">{{firstName}}</span></h3>


</div>
<div class="container">
<h1>Welcome Home</h1>
</div>