<div class="container-fluid" style="margin-left: 450px;">
	<div class="page-header">
		
	</div>
	
	<div class="main-body">
		<div class="row" >
			<div class="col-md-6" >
				<form class="form-horizontal form-width" method="post" novalidate>
				<div class="row form-row">
					<div class="col-md-12 sign-up-header">Please Register with Bootsnipp Family Care</div>
					<div class="form-group col-md-6">
						
						<input type="text" class="form-control" id="first-name" name="firstName" placeholder="First Name" value="input.firstName">
					</div>

					<div class="form-group col-md-6">
						
						<input type="text" class="form-control" id="last-name" name="lastName" placeholder="Last Name" required>
					</div>
                    <div class="form-group col-md-6">
						
						<input type="text" class="form-control" id="mobile" name="mobile" placeholder="mobile" required>
					</div>

					<div class="form-group col-md-12">
						
						<input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
					</div>

					<div class="form-group col-md-6">
						<input class="form-control" type="password"  id="password" name="password" placeholder="Password" required>
					</div>

					
					<div class="col-md-12 radio-padding">	
					<label class="radio-inline">
		 		 		<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> FATHER
					</label>
						<label class="radio-inline">
						  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> MOTHER
						</label>
						<label class="radio-inline">
						  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> CHILD
						</label>
					</div>
					<button type="submit" class="btn btn-default button-register">REGISTER</button>
					 <a type="button" class="btn btn-default button-register" href="/">LOGIN</a>
					</div>
				</form>
				<span style="color:red">{{error}}</span>

			</div>
			<div class="col-md-6"></div>
		</div>
		
	</div>

	</div>